.container {
  max-width: 800px;
  margin: 1 auto;
  padding: 20px;
  border: 1px solid #d7c58e;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #c9a9a9;
  border-radius: 5px;
  outline: none;
}

.register-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #0056b3;
}
